<h1>Edit sighting on <%= @sighting.date %> for <%= @species.animal %></h1>


<form action="/sightings/<%= @sighting.id %>/edit" method="post">
  <input name="_method" type="hidden" value="patch">
  <%= render('form') %>
  <button>Update Contact</button>
</form>

<p><a href="/sightings/<%= @sighting.id %>/edit"
  data-confirm="Are you sure you would like to delete this sighitng?"
  data-method="delete"
  rel="nofollow">Delete</a></p>

<p><a href="/species">Return to home page</a></p>
